<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mailchimp>
            <general>
                <clean_support_period>7</clean_support_period>
            </general>
            <ecommerce>
                <campaign_action>sent,open,click</campaign_action>
                <all_customers>Yes</all_customers>
            </ecommerce>
            <statistics>
                <token>f71334c7039eb7f6574676bd5f43b6bc</token>
                <notification_url>https://notifications-mc4mage.ebizmarts.com/notify</notification_url>
            </statistics>
        </mailchimp>
    </default>
</config>
