<?xml version="1.0"?>
<!--
/**
 * Ebizmarts_MailChimp Magento JS component
 *
 * @category    Ebizmarts
 * @package     Ebizmarts_MailChimp
 * @author      Ebizmarts Team <info@ebizmarts.com>
 * @copyright   Ebizmarts (http://ebizmarts.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="mailchimp_sales_model_service_quote_submit_before" instance="\Ebizmarts\MailChimp\Observer\Sales\Order\SubmitBefore" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="mailchimp_sales_model_service_quote_submit_after" instance="\Ebizmarts\MailChimp\Observer\Sales\Order\SubmitAfter" />
    </event>
    <event name="customer_save_before">
        <observer name="mailchimp_customer_save_before" instance="\Ebizmarts\MailChimp\Observer\Customer\SaveBefore" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="mailchimp_product_save_after" instance="\Ebizmarts\MailChimp\Observer\Adminhtml\Product\SaveAfter" />
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="mailchimp_newsletter_subscriber_save_after" instance="\Ebizmarts\MailChimp\Observer\Subscriber\SaveAfter" />
    </event>
    <event name="catalog_product_import_bunch_save_after">
        <observer name="mailchimp_product_import" instance="\Ebizmarts\MailChimp\Observer\Adminhtml\Product\ImportAfter"/>
    </event>
</config>
